.mo {
text-align: center;
font-size: 50px;
}
body {
  background-color: #ffcccc;
}
.contain {
  text-align: center;
  background-color: #ffffff;
  font-size: 10px;
  border: 0.01em solid black;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
p {
  font-style: italic;
  font-size: 30px;
}
li {
  font-size: 20px;
}
