.mo {
  text-align: center;
  font-size: 50px;
}

body {
  background-color: #ffcccc;
}

.contain {
  text-align: center;
  background-color: #ffffff;
  font-size: 1px;
  border: 0.01em solid black;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100px;
}

p {
  font-style: italic;
  font-size: 30px;
}

li {
  font-size: 20px;
}
